
<div class="jumbotron text-center link-info " >
  
  <div ></div>
  <h1>  {{workers[0].market.name}}</h1>
  <h5>Çalışan Listesi</h5>
</div>
  
<div class="container" id="main-container">
   <div class="row">

      <div class="card m-2" style="width: 17rem;"  *ngFor="let worker of workers">
           <a ><img class="card-img-top" [src]="worker.imgUrl" alt="Card image cap"></a>
          
          <div class="card-body">
            <h5 class="card-title text-center">{{worker.name}} {{worker.surName}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">  Yaş : {{worker.age}}</li>
              <li class="list-group-item text-center"> {{worker.role}}</li>
            </ul>
          </div>
        </div>
  
  
  
  </div>
</div>

 